
<%- include('assets/header')%>

<%- include('assets/navbar')%>
<div class="container main_product">
    <h1 class="head"><%= product.name %></h1>
    <div class=" category_box">  
    <p class="category_style">Price: Rs <%= product.price%></p>
        <p class="category_style">Category: <a class="link_category" href="/products?category=<%= product.category%>"><%= product.category%></a>
            <form action="/products/<%=product._id%>?_method=DELETE" method="POST">
                <button class="btn btn-danger">Delete</button>
            </form>
        </p>
    </div> 
    <div class="product_links">
    <a class="links m-1" href="/products">All Products</a>
    <a class="links m-1" href="/products/<%=product._id%>/edit">Edit Product</a>
</div>
</div>
    <%- include('assets/footer')%>
