<%- include('assets/header')%>

<%- include('assets/navbar')%>
<div class="container main">
    <h1 class="head">Edit Product</h1>
    <form action="/products/<%=product._id%>?_method=PUT" method="POST">
        <div class="mb-3">
        <label class="form-label" for="name">Product Name</label>
        <input class="form-control" type="text" name="name" id="name" placeholder="product name" value="<%=product.name%>">
        </div>
        <div class="mb-3">
        <label class="form-label" for="price">Price (Unit)</label>
        <input class="form-control" type="number" id="price" name="price" placeholder="price" value="<%= product.price %>">
        </div>
        <div class="mb-3">
        <label class="form-label" for="category">Select Category</label>
        <select class="form-select" name="category" id="category">
            <% for(let category of categories){ %>
            <option value="<%=category%>" <%= product.category === category ? 'selected': '' %>><%=category%></option>
            <% } %>
        </select>
        </div>
        <button class="btn btn-outline-success">Change</button>
    </form>

    <a class="btn btn-danger mt-5" href="/products/<%=product._id%>">Cancel</a>
</div>

    <%- include('assets/footer')%>