<%- include('assets/header')%>

<%- include('assets/navbar')%>
<div class="container main">
    <h1 class="head"><%= category%> Products</h1>
    
        <% for(let product of products) { %>
        <p><a class="links" href="/products/<%=product._id%>"><%= product.name %></a></p>
        <% }%>
   
    <a class="links" href="/products/new">Add new product</a>
    <%if(category !== 'All') {%>
    <a class="links" href="/products">All Products</a>
    <% } %>
</div>
    <%- include('assets/footer')%>
