<%- include('assets/header')%>

<%- include('assets/navbar')%>
<div class="container main">
    <h1 class="head">Add A Product</h1>
    <form action="/products" method="POST">
        <div class="mb-3">
        <label class="form-label" for="name">Product Name</label>
        <input class="form-control" type="text" name="name" id="name" placeholder="product name">
        </div>
        <div class="mb-3">
        <label class="form-label" for="price">Price Rs</label>
        <input class="form-control" type="number" id="price" name="price" placeholder="price">
        </div>
        <div class="mb-3">
        <label  class="form-label" for="category">Select Category</label>
        <select class="form-select" name="category" id="category">
            <% for(let category of categories){ %>
            <option value="<%=category%>"><%=category%></option>
            <% } %>
        </select>
        </div>
        <button class="btn btn-outline-success">Add new product</button>
    </form>
    <a class="btn btn-danger mt-5" href="/products">Cancel</a>

</div>
    <%- include('assets/footer')%>
